@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

.youtube {
  font-family: "Roboto", sans-serif;
}
.youtube .shaka-bottom-controls {
  width: 100%;
  padding: 0;
  padding-bottom: 0;
  z-index: 1;
}
.youtube .shaka-bottom-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.youtube .shaka-ad-controls {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.youtube .shaka-controls-button-panel {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  height: 40px;
  padding: 0 10px;
}
.youtube .shaka-range-container {
  margin: 4px 10px 4px 10px;
  top: 0;
}
.youtube .shaka-small-play-button {
  -webkit-box-ordinal-group: -2;
  -ms-flex-order: -3;
  order: -3;
}
.youtube .shaka-mute-button {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2;
}
.youtube .shaka-controls-button-panel > * {
  margin: 0;
  padding: 3px 8px;
  color: #eee;
  height: 40px;
}
.youtube .shaka-controls-button-panel > *:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(27, 127, 204, 0.8);
  box-shadow: inset 0 0 0 2px rgba(27, 127, 204, 0.8);
  color: #fff;
}
.youtube .shaka-controls-button-panel > *:hover {
  color: #fff;
}
.youtube .shaka-controls-button-panel .shaka-volume-bar-container {
  position: relative;
  z-index: 10;
  left: -1px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  opacity: 0;
  width: 0px;
  -webkit-transition: width 0.2s cubic-bezier(0.4, 0, 1, 1);
  height: 3px;
  transition: width 0.2s cubic-bezier(0.4, 0, 1, 1);
  padding: 0;
}
.youtube .shaka-controls-button-panel .shaka-volume-bar-container:hover,
.youtube .shaka-controls-button-panel .shaka-volume-bar-container:focus {
  display: block;
  width: 50px;
  opacity: 1;
  padding: 0 6px;
}
.youtube .shaka-mute-button:hover + div {
  opacity: 1;
  width: 50px;
  padding: 0 6px;
}
.youtube .shaka-current-time {
  padding: 0 10px;
  font-size: 12px;
}
.youtube .shaka-seek-bar-container {
  height: 3px;
  position: relative;
  top: -1px;
  border-radius: 0;
  margin-bottom: 0;
}
.youtube .shaka-seek-bar-container .shaka-range-element {
  opacity: 0;
}
.youtube .shaka-seek-bar-container:hover {
  height: 5px;
  top: 0;
  cursor: pointer;
}
.youtube .shaka-seek-bar-container:hover .shaka-range-element {
  opacity: 1;
  cursor: pointer;
}
.youtube .shaka-seek-bar-container input[type="range"]::-webkit-slider-thumb {
  background: #ff0000;
  cursor: pointer;
}
.youtube .shaka-seek-bar-container input[type="range"]::-moz-range-thumb {
  background: #ff0000;
  cursor: pointer;
}
.youtube .shaka-seek-bar-container input[type="range"]::-ms-thumb {
  background: #ff0000;
  cursor: pointer;
}
.youtube .shaka-video-container * {
  font-family: "Roboto", sans-serif;
}
.youtube .shaka-video-container .material-icons-round {
  font-family: "Material Icons Sharp";
}
.youtube .shaka-overflow-menu,
.youtube .shaka-settings-menu {
  border-radius: 2px;
  background: rgba(28, 28, 28, 0.9);
  text-shadow: 0 0 2px rgb(0 0 0%);
  -webkit-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  right: 10px;
  bottom: 50px;
  padding: 8px 0;
  min-width: 200px;
}
.youtube .shaka-settings-menu {
  padding: 0 0 8px 0;
}
.youtube .shaka-settings-menu button {
  font-size: 12px;
}
.youtube .shaka-settings-menu button span {
  margin-left: 33px;
  font-size: 13px;
}
.youtube .shaka-settings-menu button[aria-selected="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.youtube .shaka-settings-menu button[aria-selected="true"] span {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 0;
}
.youtube .shaka-settings-menu button[aria-selected="true"] i {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-size: 18px;
  padding-left: 5px;
}
.youtube .shaka-overflow-menu button {
  padding: 0;
}
.youtube .shaka-overflow-menu button i {
  display: none;
}
.youtube .shaka-overflow-menu button .shaka-overflow-button-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  outline: none;
  height: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.youtube .shaka-overflow-menu button .shaka-overflow-button-label span {
  -ms-flex-negative: initial;
  flex-shrink: initial;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.youtube .shaka-overflow-menu span + span {
  color: #fff;
  font-weight: 400 !important;
  font-size: 12px !important;
  padding-right: 8px;
  padding-left: 0 !important;
}
.youtube .shaka-overflow-menu span + span:after {
  content: "navigate_next";
  font-family: "Material Icons Sharp";
  font-size: 20px;
}
.youtube .shaka-overflow-menu .shaka-pip-button span + span {
  padding-right: 15px !important;
}
.youtube .shaka-overflow-menu .shaka-pip-button span + span:after {
  content: "";
}
.youtube .shaka-back-to-overflow-button {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  color: #eee;
  height: 40px;
}
.youtube .shaka-back-to-overflow-button .material-icons-round {
  font-size: 15px;
  padding-right: 10px;
}
.youtube .shaka-back-to-overflow-button span {
  margin-left: 3px !important;
}
.youtube .shaka-overflow-menu button:hover,
.youtube .shaka-settings-menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.youtube .shaka-overflow-menu button:hover label,
.youtube .shaka-settings-menu button:hover label {
  cursor: pointer;
}
.youtube .shaka-overflow-menu button:focus,
.youtube .shaka-settings-menu button:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}
.youtube .shaka-overflow-menu button,
.youtube .shaka-settings-menu button {
  color: #eee;
}
.youtube .shaka-captions-off {
  color: #bfbfbf;
}
.youtube .shaka-overflow-menu-button {
  font-size: 18px;
  margin-right: 5px;
}
.youtube .shaka-fullscreen-button:hover {
  font-size: 25px;
  -webkit-transition: font-size 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: font-size 0.1s cubic-bezier(0, 0, 0.2, 1);
}
